services:
  db:
    image: postgres:15-alpine
    container_name: db_bookshelf
    ports:
     - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: bookshelf_db
    volumes: 
      - pg_data:/var/lib/postgresql/data

volumes: 
  pg_data: